
body {
     background-color: #000000;
    background-image: linear-gradient(to bottom right, #883c54,#000000, #b32e6c);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #ffcee1;
    font-family: "monaco", monospace;;
}
h1 {
    font-size: 35px;
}
header {
    background-color: #000000;
    color: #ffcee1;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
    display:flex;

    
}
/* adding button */
a {
    border-color: #ffecf3;
    border-width: 3px;
    border-radius: 2px;
    margin: 3px;
    padding: 4px;
    background-color: black;
    
}
/* customized link */

p {
    color: rgb(179, 29, 29);
}


