h1 {
    color: rgb(179, 29, 29);
}
body {
    background-color: rgb(255, 221, 232);
}
div{
    background-color: rgb(255, 164, 194);
}
/* customizing link */
a:link {
    color:rgb(179, 29, 29);
}
a:visited{
    color: deeppink;
}
a:hover {
    color: rgb(243, 220, 255);
}
a:active {
    color: rgb(179, 29, 29);
}


