
body {
    background-color: rgb(255, 221, 232);
}
div{
    background-color: rgb(255, 164, 194);
}
h1 {
    color: rgb(179, 29, 29);
    text-align: center;
}
/* adding buttons */
a {
    border-width: 3px;
    border-color: deeppink;
    background-color: rgb(255, 176, 188);
    border-style:solid;
    border-radius: 1px;
    padding: 2px;
}
/* customized link */
.b:link {
    color: black;
}
.b:visited{
    color: black;
}
.b:hover {
    color: deeppink;
}
.b:active {
    color: rgb(255, 209, 253);
}
p {
    color: rgb(179, 29, 29);
}


