body {
    background-color: #381e59;
}
div.a {     
    border-width: 3px;
    border-color: black;
    border-style: solid;
    box-shadow: 2px 2px 2px black;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5px;
    margin: 5px;
    display:flex;
    justify-content: center;
}
.game-title {
    text-align: center;
}
.Profile {
    width: 50px;
    height: auto;
}