.header {
  background-color: rgb(241, 255, 220);
  color: rgb(161, 187, 135);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-color: rgb(161, 187, 135);
  border-width: 2px;
  box-shadow: 2px;
}